[submodule "ExpoFront"]
	path = seasoning-front
	url = git@github.com:Hunh0w/ExpoFront.git
[submodule "seasoning-api"]
	path = seasoning-api
	url = git@github.com:Hunh0w/SeasoningAPI.git
[submodule "seasoning-offers"]
	path = seasoning-offers
	url = git@github.com:Hunh0w/Seasoning-Offers.git
[submodule "seasoning-profile"]
	path = seasoning-profile
	url = git@github.com:Assstra/seasoning-profile.git
